<h1 style="color:#666"> What do you want to wear today? </h1>

<div class="panel-body">



<%@outfits.each do |outfit| %>
      <tr>
        <td class="col-md-2"> <%= image_tag(outfit.image_url,class: 'img-thumbnail img-reponsive') %> </td>
        <p> Name </p> <td> <%= outfit.name %> </td>
          <% outfit.tags.each do |tag| %>
        <p> Tag </p>
          <%= tag.name %>
          <% end %>
        <td>
          <%=link_to 'Show', outfit_path(outfit), class: 'btn btn-default btn-xs' %>
          <%= link_to 'Edit', edit_outfit_path(outfit), class: 'btn btn-success btn-xs' %>
          <%= link_to 'Delete', outfit, method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-xs btn-danger' %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>

<p>    <%= link_to 'Add New Outfit', new_outfit_path, class: 'btn btn-default' %> </p>
