<h1 style="color:#666"> All of the current tags </h1>


<%@tags.each do |tag| %>
      <tr>
        <td> <%=tag.name %> </td>
        <td>
          <%=link_to 'Show', tag_path(tag), class: 'btn btn-default btn-xs' %>
          <%= link_to 'Edit', edit_tag_path(tag), class: 'btn btn-success btn-xs' %>
          <%= link_to 'Delete', tag, method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-xs btn-danger' %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>

  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select your type of outfit
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <%= @tags.each do |tag| %>
      <li><a href=tags/:tag_id/search> @tag.name </a></li>
      <% end %>
    </ul>
  </div>

  <!-- commented out check boxes to use dropdown instead -->
  <!-- <%= form_tag("/search", method: "get") do %>
    <%= label_tag(:q, "Search for:") %>
    <% @tags.each do |tag| %>
      <%= label_tag(:tag, tag.name) %>
      <%= check_box_tag(:tag) %>
      <% end %>
    <%= submit_tag("Search") %>
  <% end %> -->

    <%= link_to 'Add New tag', new_tag_path, class: 'btn btn-default' %>
