<h1 style="color:#666"> All of the current tags </h1>


<%@tags.each do |tag| %>
      <tr>
        <td> <%=tag.name %> </td>
        <td>
          <%=link_to 'Show', tag_path(tag), class: 'btn btn-default btn-xs' %>
          <%= link_to 'Edit', edit_tag_path(tag), class: 'btn btn-success btn-xs' %>
          <%= link_to 'Delete', tag, method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-xs btn-danger' %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>

    <%= link_to 'Add New tag', new_tag_path, class: 'btn btn-default' %>
